@charset "utf-8";

html, body { -webkit-text-size-adjust:none; } /*글자자동조절방지*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {margin:0;padding:0;border:0;  }
ul, li, ol { list-style:none;  }
img, fieldset , video{ border:0;  vertical-align:top; }
input, textarea, select { vertical-align:middle; resize:none; position:relative; -webkit-border-radius:0; border-radius:0; }	
button { border:0 none; background:transparent; cursor:pointer; }		
caption, legend, .hide  { position:absolute; top:0; left:0; width:0; height:0; font-size:0; line-height:0; overflow:hidden; text-indent:-9999px; }
table { border-collapse:collapse; border-spacing:0; line-height:1.5}
table caption.tit { width:100%; height:auto; margin:20px 0; font-size:20px; font-weight:bold; text-indent:0; visibility:visible}
a:link, a:visited  { text-decoration:none; color:#333; }
a:active, a:hover, a:focus { text-decoration:none; }		
ins{text-decoration:none}
del{text-decoration:line-through}
/* HTML5 display-role reset for older browsers   */	
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
body, a, li, dt, dd, td, th, span, div, p, input, textarea,  button, option, 
h1, h2, h3, h4, h5, h6, legend, figcaption {
    font-family: $baseFT, Malgun Gothic, dotum,"돋움",Arial,AppleGothic, Sans-serif; 
    font-size:14px; vertical-align:middle; color: #666666; line-height: 1.57; letter-spacing: -0.4px; word-break: keep-all;
    box-sizing: border-box; }
h1{font-size: 30px} h2{font-size: 27px} h3{font-size: 23px} h4 {font-size:20px } h5{font-size: 17px } h6{ font-size: 13px} 

/* 클리어 */
.clearfix:after {display:block;visibility:hidden;clear:both;height:0;content:'.'}
.bg-alt, .img-alt { position:absolute; width:1px; height:1px; margin: 0; padding: 0; overflow:hidden; font-size:0; line-height:0; }
.blind {overflow: hidden;position: absolute;clip: rect(0 0 0 0);width: 0;height: 0;margin: -1px;padding: 0;font-size: 1px;line-height: 0;color: transparent;}
.fixed {position: fixed !important;}
.bn { background:none !important}
.cb { clear:both; overflow:hidden}
.cl { clear:left; overflow:hidden}
.cr { clear:right; overflow:hidden}

/* 플로트 */
.fl{float:left}.fr{float:right}.fn{float:none !important}

/* 포지션 */
.pr{position:relative}.pa{position:absolute}.pf{position:fixed}

/* 텍스트 정렬 */
.tal{text-align:left !important}.tac{text-align:center !important}.tar{text-align:right !important}

/* 마진 */
.m0 { margin:0 !important}.mt5 { margin-top:5px !important}.mt10 { margin-top:10px !important}.mt15 { margin-top:15px !important}.mt20 { margin-top:20px !important}.mt25 { margin-top:25px !important}.mt30 { margin-top:30px !important}.mt35 { margin-top:35px !important}.mt40 { margin-top:40px !important}.mt50 { margin-top:50px !important}
.mr5 { margin-right:5px !important}.mr10 { margin-right:10px !important}.mr15 { margin-right:15px !important}.mr20 { margin-right:20px !important}.mr25 { margin-right:25px !important}.mr30 { margin-right:30px !important}.mr35 { margin-right:35px !important}.mr40 { margin-right:40px !important}.mr50 { margin-right:50px !important}
.mb0{margin-bottom:0px !important}.mb5 { margin-bottom:5px !important}.mb10 { margin-bottom:10px !important}.mb15 { margin-bottom:15px !important}.mb20 { margin-bottom:20px !important}.mb25 { margin-bottom:25px !important}.mb30 { margin-bottom:30px !important}.mb35 { margin-bottom:35px !important}.mb40 { margin-bottom:40px !important}.mb50 { margin-bottom:50px !important}
.ml5 { margin-left:5px !important}.ml10 { margin-left:10px !important}.ml15 { margin-left:15px !important}.ml20 { margin-left:20px !important}.ml25 { margin-left:25px !important}.ml30 { margin-left:30px !important}.ml35 { margin-left:35px !important}.ml40 { margin-left:40px !important}.ml50 { margin-left:50px !important}

/* 패딩 */
.pt0 { padding:0 !important}.pt5 {padding-top:5px !important}.pt10 {padding-top:10px !important}.pt15 {padding-top:15px !important}.pt20 {padding-top:20px !important}.pt25 {padding-top:25px !important}.pt30 {padding-top:30px !important}.pt35 {padding-top:35px !important}.pt40 {padding-top:40px !important}.pt45 {padding-top:45px !important}.pt50 {padding-top:50px !important}
.pr5 {padding-right:5px !important}.pr10 {padding-right:10px !important}.pr15 {padding-right:15px !important}.pr20 {padding-right:20px !important}.pr25 {padding-right:25px !important}.pr30 {padding-right:30px !important}.pr35 {padding-right:35px !important}.pr40 {padding-right:40px !important}.pr45 {padding-right:45px !important}.pr50 {padding-right:50px !important}
.pb0{padding-bottom:0px;}.pb5 {padding-bottom:5px !important}.pb10 {padding-bottom:10px !important}.pb15 {padding-bottom:15px !important}.pb20 {padding-bottom:20px !important}.pb25 {padding-bottom:25px !important}.pb30 {padding-bottom:30px !important}.pb35 {padding-bottom:35px !important}.pb40 {padding-bottom:40px !important}.pb45 {padding-bottom:45px !important}.pb50 {padding-bottom:50px !important}
.pl5 {padding-left:5px !important}.pl10 {padding-left:10px !important}.pl15 {padding-left:15px !important}.pl20 {padding-left:20px !important}.pl25 {padding-left:25px !important}.pl30 {padding-left:30px !important}.pl35 {padding-left:35px !important}.pl40 {padding-left:40px !important}.pl45 {padding-left:45px !important}.pl50 {padding-left:50px !important}


/* 버튼, 배경 opacity 모션 속성 심기 */
.btn-m, .bg-m { 
	overflow:hidden; 
    text-decoration: none;
	-webkit-transition-property: background, opacity;
	transition-property: background, opacity ;
	-webkit-transition-duration: 0.3s, 0.3s;
	transition-duration: 0.3s, 0.3s; 
	-webkit-transition-timing-function: linear, ease-in-out; 
	transition-timing-function: linear, ease-in-out;	
}

/*  */
.btn2-m { background-position: 0 top ; background-repeat: no-repeat;}
.btn2-m .bg2-m{ background-position: 0 bottom;  background-repeat: no-repeat; opacity: 0;
filter: alpha(opacity=0);}
.btn2-m:hover .bg2-m, .btn2-m:focus .bg2-m, .btn2-m:active .bg2-m  { opacity: 1; filter: alpha(opacity=100);}
.btn2-m, .bg2-m{ 
	overflow:hidden; text-decoration: none;
	-webkit-transition-property: background, opacity;
	transition-property: background, opacity ;
	-webkit-transition-duration: 0.3s, 0.3s;
	transition-duration: 0.3s, 0.3s; 
	-webkit-transition-timing-function: linear, ease-in-out; 
	transition-timing-function: linear, ease-in-out;	
}


.h1  { font-size:45px; color:#333333; font-weight:100; letter-spacing: -1.4px; text-align:left; background-color:transparent; }
.h2  { font-size:30px; color:#333333; font-weight:500; letter-spacing: -0.9px; text-align:left; background-color:transparent; }
.h3  { font-size:16px; color:#333333; font-weight:500; letter-spacing: -0.5px; text-align:left; background-color:transparent; }
.text-muted     { font-size:14px; color:#b1b1b1; font-weight: 300;  line-height: 1.43;  letter-spacing: -0.4px; }
.text-warning   { font-family: Dotum; font-size:12px; color:#999999;  line-height: 1.33; letter-spacing: -0.4px;  }
	