@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
// jp, sc
.ft_t {  font-family: $baseFT;  font-weight: 100; }   // Thin
.ft_l {  font-family: $baseFT;  font-weight: 300; }   // Light
.ft_r {  font-family: $baseFT;  font-weight: 400; }   // Regular
.ft_m {  font-family: $baseFT;  font-weight: 500; }   // Medium
.ft_b {  font-family: $baseFT;  font-weight: 700; }   // Bold
.ft_bb { font-family: $baseFT;  font-weight: 900; }   // Black
